// VARIABLES ============================================
$serif : "Merriweather", Georgia, serif;
$sans-serif : "Open Sans", Helvetica, Arial, sans-serif;

$darkest: #222;
$dark: #555;

$primary: #008CF7;
$success: #8BDA72;
$danger: #F14F45;
$info: #35AEED;

$yellow: #FFCB65;
$purple: #63C;

$light: #CCC4C1;
$lighter: #e8e4e3;
$lightest: #F7F5F1;


// BASE =================================================
body{
  font-family: $sans-serif;
  padding-bottom: 120px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    font-family: $sans-serif;
    line-height: 1.4;
    margin: 36px 0;
}

h1{
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
}
h2{
    font-size: 28px;
    letter-spacing: -1px;
}

h3{
    font-size: 24px;
    letter-spacing: -1px;
}

h4{
    font-size: 22px;
}

p, blockquote{
    margin: 32px 0;
}

p, blockquote, li, ol, ul, blockquote p, pre{
    font-weight: 100;
    font-size: 17px;
    line-height: 32px;
    font-family: Merriweather;
}

ol.breadcrumb{
    background-color: #FFF;
    padding: 0;
}

blockquote{
    font-style: italic;
    padding: 0 20px;
}

a{
    color: $primary;
}

::selection {
    background: #FFEBBF; /* Safari */
    }
::-moz-selection {
    background: #FFEBBF; /* Firefox */
}

.col-post{
    max-width: 680px;
    margin: 0 auto;
    padding: 0 20px;
    min-width: 520px;
}

// LOGO ===============================================================
.logo-header{
    text-align: center;
    padding-top: 64px;
    h1{
        font-size: 36px;
        color: $danger;
    }
}
.nathan-speller-logo{
    display: inline-block;
    height: 64px;
    width: 84px;
    background-image: url("/images/nathan-speller-logo.png");
    background-repeat: no-repeat;
    margin: 0 auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .nathan-speller-logo{
        background-image: url("/images/nathan-speller-logo@2x.png");
        background-repeat: no-repeat;
        background-size: 84px 64px;
    }
}

// CATEGORIES =========================================================
.category{
    text-transform: uppercase;
    font-size: 18px;
    color: $light;
    margin-bottom: 20px;
}

// POSTS LISTS ========================================================

.views{
    color: $light;
    text-transform: uppercase;
    float: left;
    font-size: 12px;
    position: relative;
    right: 50px;
    bottom: 7px;
    margin-right: -36px;
}

ul.posts{
    margin: 0;
    padding: 0;
    li{
        border-top: 2px dotted $light;
        list-style-type: none;
        &:last-child{
            border-bottom: 2px dotted $light;
        }
        .stars{
            float: left;
            margin-right: -50px;
            position: relative;
            right: 65px;
            width: 50px;
            top: 14px;
            text-align: right;
            .star{
                background-image: url("/images/circle.png");
                background-repeat: no-repeat;
                height: 10px;
                width: 10px;
                display: inline-block;
            }
            @media only screen and (-webkit-min-device-pixel-ratio: 2) {
                .star{
                    background-image: url("/images/circle@2x.png");
                    background-repeat: no-repeat;
                    background-size: 10px 10px;
                }
            }
        }
        a{
            display: block;
            padding: 15px 0px;
            &:hover{
                text-decoration: none;
                // background-color: $lightest;
                h3{
                    color: $danger;
                }
            }
            h3{
                color: $darkest;
                margin: 0;
                font-size: 24px;
                margin-bottom: 5px;
            }
            h4{
                color: $darkest;
                font-weight: 100;
                margin: 0;
                font-size: 20px;
                color: #AAA;
            }
        }
    }
}

// POSTS =============================================================

.post-header{
    margin-top: 64px;
    margin-bottom: 64px;
    a{
        color: $danger;
    }
    h3{
        margin: 0;
        line-height: 40px;
        font-size: 28px;
    }
    .logo-title{
        color: $danger;
    }
    .logo-subtitle{
        font-weight: 100;
        color: $dark;
        margin-top: 2px;
    }

    .nathan-speller-logo{
        position: relative;
        right: 120px;
        top: 10px;
        float: left;
        margin-right: -110px;
    }
}

@media only screen and (max-width : 900px) {
    .post-header{
        .nathan-speller-logo{
            float: right;
        }
    }
}


.title{
    font-weight: 800;
    letter-spacing: -1px;
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: -10px;
}
.subtitle{
    font-weight: 100;
    font-size: 28px;
    letter-spacing: 0;
    margin-top: 0;
    color: $dark;
    margin-bottom: 0;
}

.post{
    h2,h3{
        margin-bottom: -20px;
    }
    blockquote{
        border-color: $yellow;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}

.fb-like{
    position: relative;
    bottom: 5px; 
    margin-right: 20px;
}





